@model List<SharedViewModels.ClientViewModels.PhoneModel>

<div id="product-list">
    <div class="row g-4 justify-content-start">
        @foreach (var phone in Model)
        {
            <div class="col-6 col-md-4 col-lg-3">
                <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@phone.Id" class="text-decoration-none text-dark">
                <div class="card text-center shadow-sm border-0 hover-card">
                    <img src="~/assets/Phone images/15_2_7_2_5.webp"
                         class="img-fluid mx-auto d-block"
                         style="width: 179px; height: 179px; object-fit: cover;"
                         alt="@phone.Name">
                    <div class="card-body">
                        <h6 class="card-title">@phone.Name</h6>
                    </div>
                </div>
                </a>
            </div>
        }
    </div>
</div>